/* Glossary.css */
body {
  font-family: "Work-sans", sans-serif;
  background: linear-gradient(to bottom, #e9f5ff, #a8d0e6);
  color: #333;
  margin: 0;
  padding: 0;
  background: url("/hero-bg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.glossary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  height: 100%;
  min-height: calc(100vh - 90px);

}

.glossary-title {
  font-size: 2.5em;
  color: white;
  margin-bottom: 15px;
  margin-top: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.glossary-search {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  border: 2px solid white;
  /* лёгкий космический акцент */
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  /* прозрачный тёмный фон */
  color: #ffffff;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 25px;
}

.glossary-search::placeholder {
  color: #a0f7ff;
  opacity: 0.7;
}

.glossary-search:focus {
  border-color: #1e90ff;
  box-shadow: 0 0 8px #00ffff;
}

.back-button {
  align-self: flex-start;
  background-color: #0073e6;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}


.glossary-item {
  background-color: #1c2e4ae6;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 6px 8px #0000004d;
  text-align: left;
  animation: fadeInUp .8s ease-in-out;
}

.glossary-item h3 {
  color: #0af;
  margin-bottom: 10px;
}

.glossary-item p {
color: white;
}

.term {
  font-size: 1.4em;
  font-weight: bold;
  color: #005580;
  margin-bottom: 8px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.definition {
  font-size: 1.1em;
  color: #444;
  line-height: 1.6;
}

.no-results {
  font-size: 1.2em;
  color: #888;
  text-align: center;
  margin-top: 20px;
}