/* Основной контейнер */
*{
  text-decoration: none;
  list-style: none;
}
.tests-container {
  color: #fff;
  padding: 50px 20px;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/hero-bg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.tests-title {
  font-size: 3rem;
  font-family: "Poppins", sans-serif !important;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
  animation: slideIn 0.5s ease-out;
}

/* Список тестов */
.test-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.test-list ul {
  background: linear-gradient(45deg, #2e3b4e, #1a2a3c);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInCard 0.5s ease-out forwards;
}

.test-item {
  background: linear-gradient(45deg, #2e3b4e, #1a2a3c);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInCard 0.5s ease-out forwards;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.test-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


.test-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.6);
  filter: brightness(1.1);
}

.test-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: white;
  transition: color 0.3s ease;
}


.hero-title {
  font-size: 3rem;
  color: #f39c12;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 2.rem;
  color: #f39c12;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Footer */
.test-footer {
  padding: 15px;
  background-color: rgba(0, 0, 50, 0.8);
  color: #ffffff;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  animation: fadeInUp 1s ease-in-out;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}