.tools-container {
	font-family: 'Poppins', sans-serif;
	background-color: hsla(212, 59%, 11%, 0.9);
	color: #f0f8ff;
	padding: 40px 20px;
	text-align: center;
	animation: fadeIn 0.8s ease-in-out;
}

.page-title {
	font-size: 2.2rem;
	margin-bottom: 20px;
	margin-top: 35px;
	animation: fadeInDown 0.7s ease-in-out;
}

.tools-list {
	list-style: none;
	padding: 0;
	max-width: 700px;
	margin: 0 auto;
}

.tool-item {
	margin: 20px 0;
	animation: slideUp 1s ease-in-out forwards;
	opacity: 0;
}

.tool-item p {
	color: white;
	font-size: 1.1rem;
	margin-top: 5px;
}

.tool-item:nth-child(odd) {
	animation-delay: 0.3s;
}

.tool-item:nth-child(even) {
	animation-delay: 0.5s;
}

.tool-link {
	display: block;
	background-color: #1c2e4a;
	color: #00aaff;
	padding: 20px;
	border-radius: 10px;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.tool-link:hover {
	background-color: #00aaff;
	color: white;
	transform: translateY(-5px) scale(1.05);
}

.back-button {
	padding: 10px 22px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: #fff;
	background: linear-gradient(135deg, #4f46e5, #6366f1);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
	transition: all 0.3s ease;
	position: absolute;
	left: 15px;
	top: 15px;
}

.back-button:hover {
	background-color: #0077cc;
}

/* Animations */
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}