/* Footer.css */
.bottom-footer {
  padding: 10px;
  color: white;
  font-size: 1rem;
  background: linear-gradient(
    90deg,
    #0b0c1f,
    #1b2735,
    #000000
  ); /* Космический градиент: темное звездное небо */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-top: 1px solid #00ffff; /* Цвет акцента звезд */
  position: relative;
  width: 100%;
}

.bottom-footer strong {
  font-weight: bold;
  color: #00ffff; /* Цвет для выделения текста, как свет звезд */
}

.bottom-footer a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.bottom-footer a:hover {
  color: #00ffff; /* При наведении на ссылку — светящийся акцент */
}

.bottom-footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 10px;
}

.bottom-footer .social-icons a {
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.bottom-footer .social-icons a:hover {
  transform: scale(1.2);
  color: #00ffff;
  text-shadow: 0 0 6px #00ffff, 0 0 12px #1e90ff; /* Эффект свечения при наведении */
}

/* Responsive Design for Footer */
@media (max-width: 768px) {
  .bottom-footer {
    padding: 15px;
    font-size: 0.9rem;
  }

  .bottom-footer .social-icons {
    gap: 0.8rem;
  }
}
